* {
  font-family: iyekan;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Sahel;
  src: url("../fonts/vazirsahel/Sahel-Bold-FD-WOL.eot");
  src: url("../fonts/vazirsahel/Sahel-Bold-FD-WOL.ttf") format("ttf"), url("../fonts/vazirsahel/Sahel-Bold-FD-WOL.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: vaziri;
  src: url("../fonts/vazirsahel/Vazir-Medium-FD-WOL.eot");
  src: url("../fonts/vazirsahel/Vazir-Medium-FD-WOL.ttf") format("ttf"), url("../fonts/vazirsahel/Vazir-Medium-FD-WOL.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: iyekan;
  src: url("../fonts/iyekan/IRANYekanMedium.ttf");
  font-weight: normal;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-top {
  background: #1E1F29;
  padding: 16px 0;
}

.header-top .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 0.8em;
}

.header-top .container i {
  color: #D10024;
  margin-left: 10px;
}

.header-top .container a {
  margin-left: 20px;
  color: #fff;
  transition: all 0.3s linear;
}

.header-top .container a:hover {
  text-decoration: none;
  color: #D10024;
}

.header-mid {
  background: #15161D;
  padding: 25px 0;
  border-bottom: 4px solid #D10024;
}

.header-mid .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-mid .container .basket {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mid .container .basket-item {
  float: right;
  position: relative;
}

.header-mid .container .basket-item button {
  background-color: transparent;
  border-radius: 50px;
  color: #fff;
  font-size: 1.1em;
  transition: all 0.3 linear;
}

.header-mid .container .basket-item button:hover {
  color: #D10024;
}

.header-mid .container .basket-item small {
  display: block;
  text-align: center;
  font-size: 0.6em;
}

.header-mid .container .basket-item span {
  position: absolute;
  top: 0;
  right: 6px;
  background-color: #D10024;
  color: #fff;
  border-radius: 35px;
}

.header-mid .container .search .dropdown-toggle {
  color: #424242;
  border-radius: 50px 0 0 50px;
  background-color: #fff;
  border: 1px solid gray;
}

.header-mid .container .search .input-group-prepend button {
  border-radius: 50px;
  background-color: #D10024;
  padding: 0 22px;
}

.header-mid .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bot {
  position: relative;
}

.header-bot .header {
  z-index: 2;
  width: 100%;
  display: flex;
}

@media (min-width: 576px) {
  .header-bot .header {
    justify-content: space-between;
    padding: 0 50px;
  }
}

@media (min-width: 992px) {
  .header-bot .header {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .header-bot .header {
    align-items: center;
  }
}

.header-bot .header .nav-bar {
  text-decoration: none;
}

.header-bot .header .nav-bar .hamburger {
  top: -140px;
  right: 10px;
  position: absolute;
  z-index: 700;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.header-bot .header .nav-bar .hamburger-menu {
  width: 4.2vh;
  height: 4.2vh;
}

.header-bot .header .nav-bar .hamburger-menu .menu {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s;
}

.header-bot .header .nav-bar .hamburger-menu .menu-line {
  width: 100%;
  height: .28vh;
  background-color: #fff;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.header-bot .header .nav-bar .hamburger-menu .menu-line-2 {
  width: 60%;
}

.header-bot .header .nav-bar .hamburger-menu .menu-line-3 {
  width: 80%;
}

.header-bot .header .nav-bar .nav-bar {
  position: relative;
  z-index: 200;
}

.header-bot .header .nav-bar-navigation {
  display: flex;
}

.header-bot .header .nav-bar-navigation-right {
  left: -200vw;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #15161D;
  position: fixed;
  z-index: 500;
  opacity: .95;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 768px) {
  .header-bot .header .nav-bar-navigation-right {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header-bot .header .nav-bar-navigation-right {
    width: 75%;
  }
}

.header-bot .header .nav-bar-navigation .nav-list .has-child ul {
  display: none;
}

.header-bot .header .nav-bar-navigation .nav-list .has-child .child {
  color: #000;
}

.header-bot .header .nav-bar-navigation .nav-list-item {
  list-style: none;
}

.header-bot .header .nav-bar-navigation .nav-list-link {
  font-size: 4vh;
  font-weight: 300;
  color: #dadada;
  text-decoration: none;
  display: block;
  margin: 2vw;
  text-align: center;
  transition: all 0.5s;
}

.header-bot .header .nav-bar-navigation .nav-list-link:hover {
  letter-spacing: 3px;
}

.header-bot .header .checkbox:checked ~ .nav-bar-navigation .nav-bar-navigation-right {
  left: 0;
}

.header-bot .header .checkbox:checked ~ .hamburger .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.header-bot .header .checkbox:checked ~ .hamburger .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.header-bot .header .checkbox:checked ~ .hamburger .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.header-bot .header .checkbox:checked ~ .hamburger .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
  width: 100%;
}

.header-bot .header-navbar .navbar-item {
  position: relative;
}

.header-bot .header-navbar > .navbar-item a {
  display: inline-block;
  padding: 15px 25px;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in;
  overflow: hidden;
}

.header-bot .header-navbar > .navbar-item a::after {
  bottom: 0;
  right: -350px;
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background-color: #D10024;
  transition: all 0.5s ease;
}

.header-bot .header-navbar .active a, .header-bot .header-navbar .navbar-item:hover a {
  color: #D10024;
}

.header-bot .header-navbar .active a::after, .header-bot .header-navbar .navbar-item:hover a::after {
  right: 10%;
}

.header-bot .header-navbar .has-child:hover .child {
  opacity: 1;
}

.header-bot .header-navbar .has-child .child {
  z-index: 2;
  position: absolute;
  background-color: #f3f3f3;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header-bot .header-navbar .has-child .child a {
  display: inline-block;
  padding: 8px 50px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.header-bot .header-navbar .has-child .child a::after {
  content: "";
  width: 0px;
}

.header-bot .header-navbar .has-child .child a:hover {
  color: #D10024;
  background-color: #d8d8d8;
}

.header-bot .header-navbar {
  display: flex;
  justify-content: flex-start;
}

.header-bot .scrool {
  position: fixed;
  background: rgba(0, 0, 0, 0.884);
  top: 0;
  left: 0;
  padding: 22px 30px;
}

.collection {
  width: 100%;
}

.collection .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.collection-item {
  overflow: hidden;
  width: 23%;
  position: relative;
  margin: 25px 9px;
}

.collection-item:hover img {
  transform: scale(1.1);
}

.collection-item img {
  background-color: #E4E7ED;
  transition: all 0.3s linear;
}

.collection-item p {
  z-index: 1;
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 1em;
  color: #fff;
}

.collection-item p span {
  font-size: 1.7em;
}

.collection-item p a {
  margin-top: 12px;
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
}

.collection-item p a:hover {
  text-decoration: none;
}

.collection-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -115px;
  width: 93%;
  z-index: 1;
  background: #D10024;
  opacity: 0.8;
  transform: skewX(45deg);
}

.tabulation .nav-pills .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  box-shadow: 0px 8px 26px -12px rgba(0, 0, 0, 0.18);
}

.tabulation .nav-pills .nav-item .nav-link.active {
  color: #fff;
  background: #f44336;
}

.tabulation .nav-pills .nav-item .nav-link.active span {
  color: #fff;
}

.tabulation .tab-content {
  background: #fff;
  box-shadow: 0px 8px 26px -12px rgba(0, 0, 0, 0.18);
}

.tabulation .tab-content p {
  font-size: 1.5em;
}

.tabulation2 {
  margin: 0 auto;
}

.tabulation2 .nav-tabs .nav-item .nav-link {
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 15px 20px;
}

.tabulation2 .nav-tabs .nav-item .nav-link:before {
  border-bottom: 11px solid #ccc;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
}

